@model Mateusz_formularz.Models.Komentarze
@{
    ViewBag.Title = "MainKomentarzeView";
}


@*CSS START*@
<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }

        table th {
            background-color: #B8DBFD;
            color: #333;
            font-weight: bold;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
            font-weight: bold;
        }

        table, table table td {
            border: 0px solid #ccc;
        }

    input[type=text], select {
        width: 300px;
    }
</style>
@*CSS END*@
<br />
<table>
    <tr>
        <td>
            @Html.TextBoxFor(m => m.Liturgical_day)
            <input type="submit" name="submit" , id="submit_search" value="Wybierz" />
        </td>
    </tr>
</table>
<br />
<h2>"Komentarze":Dodaj/Edytuj</h2>
<table>
    <tr>
        <td>Dzień liturgiczny:</td>
        <td></td>
    </tr>
    <tr>
        <td>Komentarz źródło:</td>
        <td></td>
    </tr>
    <tr>
        <td>Tekst:</td>
        <td></td>
    </tr>
    <tr>
        <td align="center"><input type="submit" name="submit" value="Dodaj" /></td>
        <td align="center"><input type="submit" name="submit" value="Zapisz zmiany" /></td>
    </tr>
</table>
<br />
<div id="" style="overflow:scroll; height:400px;">
    <table>
        <tr>
            <td>Dzień liturgiczny:</td><td>Komentarz źródło</td><td>Tekst</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    </div>
